.home {
    --bd-blue: #0b8ece;
    --bd-teal: #2ca6a4;
    --bd-accent-blue-green: #84ffe8;
    --bd-teal-rgb: 44, 166, 164;
    --bd-accent-blue-green-rgb: 132, 255, 232;
    --bd-blue-green-rgb: 51, 214, 198;

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%), radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(var(--bd-accent-blue-green-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(var(--bd-teal-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center left, rgba(var(--bd-blue-green-rgb), 0.5), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-teal);
        --bs-btn-border-color: var(--bd-teal);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #1e9694;
        --bs-btn-hover-border-color: #1e9694;
        --bs-btn-focus-shadow-rgb: var(--bd-teal-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #198880;
        --bs-btn-active-border-color: #198880;
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-teal-rgb: 44, 166, 164;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-teal-rgb), 1), rgba(var(--bd-teal-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-teal {
    color: #2ca6a4;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
