<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="images/filetype.png" width="100px" height="100px">
        {{/*  <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#shield` | relURL }}"/>
        </svg>  */}}
        <h2 class="h2">Broad filetype upload<small class="d-none">🛡️</small></h2>
        <p>
            Enable upload of educational materials in various formats (notes, audio, diagrams) and corresponding filetypes (pdf, docx, mp3, png, mp4) so that comprehensive video lessons can be created to tailor to different curriculum needs.
        </p>
    </div>
    <div class="col-lg-4">
        <img src="images/voice.png" width="100px" height="100px">
        {{/*  <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#zap` | relURL }}"/>
        </svg>  */}}
        <h2 class="h2">Customizable voices<small class="d-none">🚀</small></h2>
        <p>
            Enable various narration voices (e.g. The Rock, Joe Rogan, Sydney Sweeney, etc.) for video content so that users can choose the one most conducive to their learning style and personal preference. This means a wide variety of text-to-voice models must be pre-trained and deployed to the platform.
        </p>
    </div>
    <div class="col-lg-4">
        <img src="images/diagram.png" width="100px" height="100px">
        <br>
        {{/*  <svg xmlns='http://www.w3.org/2000/svg' class='feather text-violet feather-big' width="4em" height="4em">
            <use href="{{ `images/feather/feather-sprite.svg#trending-up` | relURL }}"/>
        </svg>  */}}
        <h2 class="h2">Dynamic diagrams<small class="d-none">📈</small></h2>
        <p>
            Enable customized but still customizable synthesized video content / diagrams within Studi via SOTA image and video generation models. Explanatory diagrams and animations generated in real-time via API calls to fit uploaded content can meet specific learning objectives of students while allowing room to edit and add if necessary. 
        </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Cloud storage <small class="d-none">🦉</small></h2>
        <p>
            Integrate Studi accounts and uploaded content to cloud storage services such as AWS S3 to streamline the management and uploading process of educational materials. This enables storage for future access as well as the ability to scale with exponential growth in users and content.
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Secure access <small class="d-none">✨</small></h2>
        <p>
            Ensure all uploaded educational materials are stored and processed securely (either cloud or on-prem) to protect intellectual property and personal information. This implies personal accounts and consumer-facing identity access management (i.e. Okta).
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Engagement analytics <small class="d-none">🧰</small></h2>
        <p>
           Enable tracking of user engagement with the video content and educational materials to provide insights for educators and students. This includes tracking of video views, time spent on each video, and the number of times a video is paused or replayed. This can allow educators and students alike to note the best performing voices, content types, etc. 
        </p>
    </div>
</div>
